<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- moving base -->
  <xacro:include filename="$(find mir_description)/urdf/include/mir_100_v1.urdf.xacro" />

  <!-- include third-party camera plugin -->
  <xacro:include filename="$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro" />

  <!-- include top_module -->
  <xacro:include filename="$(find robot2_description)/config/macro.top_module.xacro" />
  <xacro:top_module />

  <!-- Xcro: robot2 -->
  <xacro:macro name="robot2" params="prefix">

    <!--Attach camera to the top_module -->
    <joint name="camera_top_module_joint" type="fixed">
      <parent link="top_module_link" />
      <child link="camera_base_link"/>
      <origin xyz="0 0.41 0.1" rpy="0 0 1.57"/>
    </joint>

    <!--Attach top_module to the ugv -->
    <joint name="top_module_surface_joint" type="fixed">
      <parent link="${prefix}surface" />
      <child link="top_module_link"/>
      <origin xyz="0 0 0" rpy="0 0 -1.57"/>
    </joint>

  </xacro:macro>

</robot>

