<?xml version="1.0" ?>
<launch>
  <arg name="model" default="$(env ROBOT_MODEL)" doc="model type [robot2]"/>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>


  <arg name="tf_prefix" default="" doc="tf_prefix to be used by gazebo plugins and in the robot's urdf etc." />

  <arg name="namespace" default="$(arg tf_prefix)" doc="Namespace to push all topics into."/>
  
  <!-- <param name="tf_prefix" value="$(arg tf_prefix)" /> -->
  <group if="$(eval namespace != '')">
    <group>
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
      </include>
    </group>

    <!-- This namespace has two effects:
         1. pushing all topics into the namespace
         2. adding the namespace prefix to the header.frame_id field of the laser scanner messages. -->
    <group ns="$(arg namespace)">
      <!-- spawn robot and bring up controllers etc. -->
      <include file="$(find robot2_gazebo)/launch/robot2_gazebo_common.launch">
        <arg name="x_pos"   value="$(arg x_pos)" />
        <arg name="y_pos"   value="$(arg y_pos)" />
        <arg name="z_pos" value="$(arg z_pos)" />
        <arg name="tf_prefix" value="$(arg tf_prefix)" />
      </include>
    </group>
  </group>


  <group unless="$(eval namespace != '')">
    <group>
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
      </include>
    </group>

    <!-- This namespace has two effects:
         1. pushing all topics into the namespace
         2. adding the namespace prefix to the header.frame_id field of the laser scanner messages. -->
    
    <!-- spawn robot and bring up controllers etc. -->
    <include file="$(find robot2_gazebo)/launch/robot2_gazebo_common.launch">
      <arg name="x_pos"   value="$(arg x_pos)" />
      <arg name="y_pos"   value="$(arg y_pos)" />
      <arg name="z_pos" value="$(arg z_pos)" />
      <arg name="tf_prefix" value="$(arg tf_prefix)" />
    </include>
  </group>


  <include file="$(find robot2_gazebo)/launch/includes/spawn_scene1.launch.xml" />

</launch>
