<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="gripper_assembly">

    <!-- yf: Define gripper_mount link -->
    <link name="gripper_mount_link">
      <inertial>
        <mass value="0.05"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robot2_description/meshes/gripper_v01/gripper_mount.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot2_description/meshes/gripper_v01/gripper_mount.dae" />
        </geometry>
      </collision>
    </link>
    <gazebo reference="gripper_mount_link">
      <!-- <material>Gazebo/Grey</material> -->
      <material>PR2/Grey3</material>
    </gazebo>

    <!-- yf: Define gripper_mount_ud link -->
    <link name="gripper_mount_ud_link">
      <inertial>
        <mass value="0.05"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robot2_description/meshes/gripper_v01/gripper_mount_ud.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot2_description/meshes/gripper_v01/gripper_mount_ud.dae" />
        </geometry>
      </collision>
    </link>
    <gazebo reference="gripper_mount_ud_link">
      <material>Gazebo/Grey</material>
    </gazebo>


    <!-- yf: Define gripper_L link -->
    <!-- <link name="gripper_L_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robot2_description/meshes/gripper_v01/gripper_L.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot2_description/meshes/gripper_v01/gripper_L.dae" />
        </geometry>
      </collision>
    </link> -->

    <!-- yf: Define gripper_R link -->
    <!-- <link name="gripper_R_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robot2_description/meshes/gripper_v01/gripper_R.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot2_description/meshes/gripper_v01/gripper_R.dae" />
        </geometry>
      </collision>
    </link> -->


  </xacro:macro>

</robot>
