<launch>
  <arg name="model" default="$(env ROBOT_MODEL)" doc="model type [robot2]"/>
  <param name="model" value="$(arg model)"/>

  <!-- turtlebot3_teleop_key already has its own built in velocity smoother -->
  <node pkg="robot2_teleop" type="robot2_teleop_key" name="robot2_teleop_keyboard"  output="screen">
  </node>
</launch>
